$primary-color:#e98283;
$secondary-color:#f1d98a;
$third-color:#95e1d3;
$title-color:#333333;
$text-color:#999999;
$gray-color:#f8f8f8;
$gray-dark-color:#cccccc;
$gray-light-color:#f5f5f5;

// font
$primary-font: 'Montserrat', sans-serif;
$secondary-font:  'Roboto', sans-serif;
$third-font:  'Kaushan Script', cursive;

$wrapper:1920px;
$container:1200px;
