section.blog 
    .container 
        +blockHeader('Our Stories','Lastest Blog')
        .blog-list 
            +blogItem("images/img-blog1.png",'15','Jan','Lorem ipsum dolor sit','Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex vel laboriosam numquam et reiciendis pariatur debitis porro dignissimos, distinctio, quas mollitia ipsam tempore eos dolorem quo magnam fugit vero ea!','1000')
            +blogItem("images/img-blog1.png",'15','Jan','Lorem ipsum dolor sit','Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex vel laboriosam numquam et reiciendis pariatur debitis porro dignissimos, distinctio, quas mollitia ipsam tempore eos dolorem quo magnam fugit vero ea!','1000')
            +blogItem("images/img-blog1.png",'15','Jan','Lorem ipsum dolor sit','Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex vel laboriosam numquam et reiciendis pariatur debitis porro dignissimos, distinctio, quas mollitia ipsam tempore eos dolorem quo magnam fugit vero ea!','1000')
section.map
    .map-content 
        i.map-icon.fas.fa-map-marker-alt    
        p.map-text Open Map   