section.device 
    .container 
        +blockHeader('For All Device','Unique Design','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
        .device-media 
            img(src="images/img-devices.png", alt="",class="device-img")