footer.footer 
    .container
        .footer-top 
            .footer-column
                a.footer-heading.footer-heading--large Mogo
                p.footer-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi reiciendis aliquam laboriosam iste repellendus recusandae quisquam excepturi qui est unde. Ducimus repellat odit hic a quisquam corporis blanditiis pariatur ex.
                p.footer-followers <strong> 15k</strong> followers
                .footer-social 
                    span.text.text--light.text--italic Follow Us: 
                    ul.footer-social-list 
                       
                        li.footer-social-item 
                            a.footer-social-icon(href="#") 
                                i.fab.fa-facebook
                        li.footer-social-item 
                            a.footer-social-icon(href="#") 
                                i.fab.fa-facebook
                        li.footer-social-item 
                            a.footer-social-icon(href="#") 
                                i.fab.fa-facebook
                        li.footer-social-item 
                            a.footer-social-icon(href="#") 
                                i.fab.fa-facebook
                        li.footer-social-item 
                            a.footer-social-icon(href="#") 
                                i.fab.fa-facebook
                        li.footer-social-item 
                            a.footer-social-icon(href="#") 
                                i.fab.fa-facebook
                        
                       
                .footer-form 
                    input.footer-form-input.text.text--light.text--italic(type="text" placeholder="Your Email...")
                    button.footer-form-button subscrice
            .footer-column
                h3.footer-heading Blogs
                .footer-blog-list
                    .footer-blog-item
                        img.footer-blog-img(src="images/img-work1.png", alt="")
                        .footer-blog-info 
                            a(href="#").footer-blog-title Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            span.footer-blog-date.text.text--italic.text--light  Jan 9, 2016
                    .footer-blog-item
                        img.footer-blog-img(src="images/img-work1.png", alt="")
                        .footer-blog-info 
                            a(href="#").footer-blog-title Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            span.footer-blog-date.text.text--italic.text--light   Jan 9, 2016
                    .footer-blog-item
                        img.footer-blog-img(src="images/img-work1.png", alt="")
                        .footer-blog-info 
                            a(href="#").footer-blog-title Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            span.footer-blog-date.text.text--italic.text--light   Jan 9, 2016
            .footer-column
                h3.footer-heading Instagram
                ul.footer-collection-img
                    li.footer-item-img
                        img(src="images/img-work1.png", alt="")
                    li.footer-item-img
                        img(src="images/img-work1.png", alt="")
                    li.footer-item-img
                        img(src="images/img-work1.png", alt="")
                    li.footer-item-img
                        img(src="images/img-work1.png", alt="")
                    li.footer-item-img
                        img(src="images/img-work1.png", alt="")
                    li.footer-item-img
                        img(src="images/img-work1.png", alt="")
                    li.footer-item-img
                        img(src="images/img-work1.png", alt="")
                    li.footer-item-img
                        img(src="images/img-work1.png", alt="")
                    li.footer-item-img
                        img(src="images/img-work1.png", alt="")

        .footer-bottom 
            p.footer-copy-right @2016 MoGo Free PSD By  
                span Laqiq