section.ourteam 
    .container 
        +blockHeader('Who We Are','Meet Our Team',' Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
        .ourteam-list 
            +ourteamItem('https://images.unsplash.com/photo-1433086966358-54859d0ed716?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80','MattheW Dix','Graphic Design')
                +ourteamSocial()
            +ourteamItem('images/img-team2.png','Christopher Camrbell Camrbell Camrbell Camrbell Camrbell','Branding/ Ux Design')
                +ourteamSocial()
            +ourteamItem('images/img-team3.png','Michael Fertic','Graphic Design')
                +ourteamSocial()
            