section.people 
    .container 
        +blockHeader('Happy Client','What People Says','')
        .people-list 
            +peopleItem('images/img-people1.png',' Matthew Dix ','Graphic Design', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti magnam beatae nam maiores enim mollitia perspiciatis voluptatibus! Deserunt officia necessitatibus odio, amet unde eaque sequi ex sint asperiores error harum!')
            +peopleItem('images/img-people2.png',' Matthew Dix ','Graphic Design', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti magnam beatae nam maiores enim mollitia perspiciatis voluptatibus! Deserunt officia necessitatibus odio, amet unde eaque sequi ex sint asperiores error harum!')
            +peopleItem('images/img-people3.png',' Matthew Dix ','Graphic Design', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti magnam beatae nam maiores enim mollitia perspiciatis voluptatibus! Deserunt officia necessitatibus odio, amet unde eaque sequi ex sint asperiores error harum!')
            +peopleItem('images/img-people4.png',' Matthew Dix ','Graphic Design', 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti magnam beatae nam maiores enim mollitia perspiciatis voluptatibus! Deserunt officia necessitatibus odio, amet unde eaque sequi ex sint asperiores error harum!')
            