section.service 
    .container 
        +blockHeader('We Work With','Amazing Service')
        .service-container
            .service-list
                +serviceItem('images/img-service-icon1.png','Photography','Lorem ipsum dolor sit amet, consectetur adipisicing elit')
                +serviceItem('images/img-service-icon2.png','Web Design','Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, consectetur.')
                +serviceItem('images/img-service-icon3.png','Creativity','Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, consectetur.')
                
            .service-list
                +serviceItem('images/img-service-icon4.png','Seo','Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, consectetur.')
                +serviceItem('images/img-service-icon5.png','Css/Html','Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, consectetur.')
                +serviceItem('images/img-service-icon6.png','Digital','Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, consectetur.')