section.sponser 
    .container 
        ul.sponser-list 
            +sponserItem('images/bmw.png')
            +sponserItem('images/bmw.png')
            +sponserItem('images/bmw.png')
            +sponserItem('images/bmw.png')
            +sponserItem('images/bmw.png')
            +sponserItem('images/bmw.png')
                  