section.wedo 
    .container 
        +blockHeader('Service','What We Do','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
        .wedo-wrapper 
            img.wedo-img(src="images/img-wedo.png", alt="")
            .wedo-list 
                //- +wedoItem("images/img-wedo-icon1.png",'Photography','Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore eaque totam amet in unde exercitationem? Ratione hic dolorum dignissimos ex minima impedit laboriosam et, ullam laudantium debitis fugit illo iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod esse doloremque officia ea delectus veniam nisi nam illum, molestias, ex placeat. Quo earum voluptas facilis pariatur quibusdam optio dolorem odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nostrum, aut iste maiores adipisci deserunt quaerat mollitia facilis excepturi perferendis veritatis. Voluptatibus doloribus ipsum consectetur quaerat qui numquam doloremque ullam.','is-active')
                .wedo-item
                    .wedo-item-header
                        img.wedo-item-icon(src="images/img-wedo-icon1.png", alt="")
                        h4.wedo-item-title Photography
                        i.wedo-item-arrow.fal.fa-angle-up 
                    .wedo-item-content
                        .wedo-item-wrapper-text
                            p.wedo-item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore eaque totam amet in unde exercitationem? Ratione hic dolorum dignissimos ex minima impedit laboriosam et, ullam laudantium debitis fugit illo iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod esse doloremque officia ea delectus veniam nisi nam illum, molestias, ex placeat. Quo earum voluptas facilis pariatur quibusdam optio dolorem odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nostrum, aut iste maiores adipisci deserunt quaerat mollitia facilis excepturi perferendis veritatis. Voluptatibus doloribus ipsum consectetur quaerat qui numquam doloremque ullam.                     
                .wedo-item
                    .wedo-item-header
                        img.wedo-item-icon(src="images/img-wedo-icon1.png", alt="")
                        h4.wedo-item-title Photography
                        i.wedo-item-arrow.fal.fa-angle-up 
                    .wedo-item-content
                        .wedo-item-wrapper-text
                            p.wedo-item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore eaque totam amet in unde exercitationem? Ratione hic dolorum dignissimos ex minima impedit laboriosam et, ullam laudantium debitis fugit illo iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod esse doloremque officia ea delectus veniam nisi nam illum, molestias, ex placeat. Quo earum voluptas facilis pariatur quibusdam optio dolorem odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nostrum, aut iste maiores adipisci deserunt quaerat mollitia facilis excepturi perferendis veritatis. Voluptatibus doloribus ipsum consectetur quaerat qui numquam doloremque ullam.                    
                .wedo-item
                    .wedo-item-header
                        img.wedo-item-icon(src="images/img-wedo-icon1.png", alt="")
                        h4.wedo-item-title Photography
                        i.wedo-item-arrow.fal.fa-angle-up 
                    .wedo-item-content.is-active
                        .wedo-item-wrapper-text
                            p.wedo-item-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore eaque totam amet in unde exercitationem? Ratione hic dolorum dignissimos ex minima impedit laboriosam et, ullam laudantium debitis fugit illo iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod esse doloremque officia ea delectus veniam nisi nam illum, molestias, ex placeat. Quo earum voluptas facilis pariatur quibusdam optio dolorem odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nostrum, aut iste maiores adipisci deserunt quaerat mollitia facilis excepturi perferendis veritatis. Voluptatibus doloribus ipsum consectetur quaerat qui numquam doloremque ullam.