section.work 
    .container 
        +blockHeader('What We Do','Some Of Our Work','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
    .work-list 
        .work-column 
            +workItem("images/img-work1.png","images/img-work-icon.png","Creatly Designed",'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
            +workItem("images/img-work2.png","images/img-work-icon.png","Creatly Designed",'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
          
                    //- img.work-img(src="images/img-work1.png", alt="")
        .work-column 
            +workItem("images/img-work3.png","images/img-work-icon.png","Creatly Designed",'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
            +workItem("images/img-work4.png","images/img-work-icon.png","Creatly Designed",'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
                //- img.work-img(src="images/img-work1.png", alt="")
            
        .work-column 
            +workItem("images/img-work5.png","images/img-work-icon.png","Creatly Designed",'Lorem ipsum dolor sit amet consectetur adipisicing elit.','work-item--full')

        .work-column 
            +workItem("images/img-work6.png","images/img-work-icon.png","Creatly Designed",'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
            +workItem("images/img-work7.png","images/img-work-icon.png","Creatly Designed",'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
            