.about{
    padding-top:9.3rem;
    padding-bottom: 11rem;
    &-list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 3rem;
    }
    &-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-title{
        font-size: 1.8rem;
        font-weight: bold;
       @include lineClamp();

    }
    &-icon{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    @include maxWidth(767px){
        padding-top: 5rem;
        padding-bottom: 6rem;
    }
    @include maxWidth(575px){
        @include scrollSnap('.about-list','.about-item');
        &-list{
            column-gap: 3rem;
            padding:1rem;
           
        }
    }
}
@include hoverEffect('.about-item','.about-content');