.device{
   
    padding-top:10rem;
    background: linear-gradient(to bottom, rgba($gray-dark-color,0.8),rgba($gray-dark-color,0.8)), url('../images/img-device-bg.png') no-repeat center / cover;
    // background-color: red;
    &-media{
        text-align: center;
    }
    &-img{
        display: inline-block;
        margin-bottom: -9.3rem;
    }
    @include maxWidth(575px){
        padding-top: 5rem;
        &-img{
            margin-bottom: -7.3rem;
        }
    }
    @include maxWidth(479px){
        &-img{
            margin-bottom: -6.3rem;
        }
    }
}